{% extends "layout/base.html" %}

{% block content %}

<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Start:<br>
        {{form.start(size=80)}}<br>
        {% for error in form.errors.start %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        End:<br>
        {{form.end(size=80)}}<br>
        {% for error in form.errors.end %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        
        
        <p>Stop on the way:</br>{{form.place}}</p> 
    </p>
    <!-- <p>{{form.remember_me}} Remember Me</p> -->
    <p><input type="submit" value="Find Route!"></p>
</form>
{% endblock %}
