{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <img src="grandcanyon.jpg"
                 class="img-responsive" height="300px" width="300px"/>
          </div>
          <div class="col-md-5">
            <!-- <h1 class="text-justify text-muted">GET IN TOUCH</h1> -->
            <p class="lead">Thanks for checking out my website.</p> 
            <p class="lead">
              Have feedback or want to contribute, submit a
              <a href="https://github.com/dcurl47/miway">pull request</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
