{% extends "layout/base.html" %}

{% block head %}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/CSSTableGenerator.css') }}" type="text/css"/>
<link rel="stylesheet"  href="{{ url_for('static',filename='css/jquery-ui.css')}}" type="text/css"/>
<link rel="stylesheet"  href="{{url_for('static',filename='css/style.css')}}" type="text/css"/>
<script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

<style>
body {
    background: url({{ url_for('static',filename='images/roads-pictures-road-4781613.jpg') }});
    background-size:cover;

}
</style>
<script>
$(function() {
    $( "#slider-range" ).slider({
        range: true,
        min: 0,
        max: 500,
        values: [ 75, 300 ],
        slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
        }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
    " - $" + $( "#slider-range" ).slider( "values", 1 ) );
});
</script>
{% endblock %}

{% block content %}


<div class="container" style="padding-top:90px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form action="" method="post" name="login">
                    {{form.hidden_tag()}}

		    <div class="form-group">
                    <!--{{form.start.label}}--><strong>Start:</strong>
                    {{form.start(size=40,placeholder="E.g. 5031 W Clarendon Ave, Phoenix, AZ ",class_="form-control")}}
                    {% for error in form.errors.start %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
		    </div>
		    <div class="form-group">
		    
                    <!--{{form.end.label}}--><strong>End:</strong>
		    {{form.end(size=40,placeholder="E.g. 5773 S 32nd St, Phoenix, AZ",class_="form-control")}}
		    {% for error in form.errors.end %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
		    </div>
		    <div class="col-sm-6">
		    <div class="form-group">
                        <!--<div class="col-sm-3">-->
                        <!--{{form.place.label}}--><strong>Where to Stop:</strong> {{form.place(class_="form-control")}}
                        </div>
		    </div>
		    <div class="col-sm-6">
                        <div class="form-group">
                        <!--{{form.partroute.label}}--><strong>When to Stop:</strong> {{form.partroute(class_="form-control")}}
                        </div>
                    </div>
		    </div>
		    
		    <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg
                    center-block" value="Find Route!">
                    {% if notfound %}
		    <div class="alert alert-danger">
		     {%for error in notfound %}
                   <p>{{error}}</p>
		   
                        {% endfor %}
		   </div>
		   {% endif %}
		   </div>

                        
                    
		   </form>
                </div>
            </div>
        </div>


{% endblock %}
