{% extends "layout/base.html" %}
<br><br><br>
{% block content %}
<div class="container" style="margin-left:40px;">
  <form action="" method="post" name="login">
  {{form.hidden_tag()}}
  <p>
  <br><br><br><br>

   <div class="row">
        <div class="col-sm-3">
	  {%for error in notfound %}
	  <span style="color: red;">{{error}}</span><br>
	  {% endfor %}
	</div>
	</div>

  <br>
  Start:<br>
   
  {{form.start(size=40)}}<br>
  {% for error in form.errors.start %}
  <span style="color: red;">[{{error}}]</span>
  {% endfor %}<br><br>
  End:<br>
  {{form.end(size=40)}}<br>
  {% for error in form.errors.end %}
  <span style="color: red;">[{{error}}]</span>
  {% endfor %}<br>
</div>
<div class="container" style="margin-left:40px;">
    <div class="row">
        <div class="col-sm-3">
	  Stop on the way:<br>{{form.place}}
	</div>
	<div class="col-sm-2">
	  When to stop:<br>{{form.partroute}}
	</div>
    </div>
    <br><br>
    <p><input type="submit" value="Find Route!"></p>
</div>
  </p>
  <!-- <p>{{form.remember_me}} Remember Me</p> -->

<!--  </form>-->
{% endblock %}
  <!--<table>
    <tr>
       <input type="text" name="start">
      <td>Stop on the way:</br>{{form.place}}</td>
      <td>       </td>
      <td>Stop on the way:</br>{{form.place}}</td>
    </tr>
  </table> 
 <div class="form-group">
  <label for="start">Start</label>-->