{% extends "layout/base.html"%}

 {% block content %}
  <!-- <div id="login_form"> -->
    <h1> miWay</h1>
    <!-- <form action="" method="post" name="login" onsubmit=""> -->
    <!-- {{form.hidden_tag()}}   -->
    <!-- 		Start location:<br>         -->
    <!-- 		{{form.start(size=40, placeholder="Kirkwood, CA")}}<br>     -->
    <!-- 		</p>     -->
    <!-- 		<p>         -->
    <!-- 		End location:<br>         -->
    <!-- 		{{form.end(size=40, placeholder="Menlo Park, CA")}}</p>     -->
    <!-- 		<p>Where do you want to stop?</br>{{form.place}}</p>     -->
    <!-- 		<p><div id="submit_button"><input type="submit" value="Search"></div> -->
    <!-- 	</form> -->
		
<!-- <form name="0.1_miway" href="maps" "target="_blank"> -->
<!-- <form name="0.1_miway" action="readform.py" target="_blank" -->
<!--     onsubmit="return window.confirm(&quot;You are submitting -->
<!--     information to an external page.\nAre you sure?&quot;);"> -->
<div>
Start: <input type="text" name="start"><br><br>
End:  <input type="text" name="end"><br><br>

On the way:
<select name="place" type="select">
<option value="1">Gas station</optio> -->
<option value="2">Restaurant</option>
<option value="3">Hotel</option>
<option value="4">National Park</option>
<option value="5">Historical Site</option>
</select>
<br>
<br>

<input type="submit" name="submit" value="submit">
</form>
  </div>  
{%endblock %}

  